marquee {
	color : #00FF41;
}
html, body {
	background-color: black;
	font-family: 'NemoyBold';
	padding: 0;
	margin: 0;
	overflow: hidden;
}
#container {
	position: absolute;
	left: 0;
	top: 0;
	right: -30px;
	bottom: 0;	
	padding-right: 15px;
	overflow-y: scroll;
}
